BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp17

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Allman
SortIncludes: true
IncludeCategories:
  - Regex: '^<Q'
    Priority: 1
  - Regex: '^<'
    Priority: 2
  - Regex: '^"soul'
    Priority: 3
  - Regex: '^"'
    Priority: 4